.align-middle { vertical-align: middle; }

.text-center { text-align: center !important; }
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }

:root {
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
}

#leaderboardTable {
  text-align: right;
  empty-cells: hide;
  & td, & th {
    border: 0px solid transparent;
    border-color: var(--gray-300);
    /* border-left-width: 1px;  */
    border-bottom-width: 1px;
    background-color: transparent;
  }
  & td:first-child, & th:first-child {
    border-left-width: 0px;
  }
  /* Bootstrap .table-striped does some annoying things:
    - It uses --bg-table-bg-type instead of background-color, so it's hard to override
    - It applies the background to the cells, which means the collapsed borders add whitespace
    ... so manually stripe the rows instead
  */
  & tbody>tr:nth-of-type(odd) { background-color: var(--gray-100); }
}

.hide-elevation .elevation-cell {
  display: block;
  width: 0 !important;
  height: 0 !important;
  padding: 0 !important;
  border-width: 0px !important;
  overflow: hidden;
  background: transparent;
}

/* Full screen table stuff */
.full-screen-table-overflown {
  /* Enable scrolling and make it edge to edge
  separate class so it can be applied via js if applicable */
  overflow-x: scroll;
  margin-left: -15px;
  margin-right: -15px;
  padding: 5px 0;
  border-top: 1px solid var(--gray-200);
  border-bottom: 1px solid var(--gray-200);
}

@media (max-width: 800px) {
  .full-screen-table {
    /* Always remove margin on full-screen-table */
    margin-left: -15px;
    margin-right: -15px;
  }
}

.border-t-0 { border-top-width: 0 !important; }
.border-t-1 { border-top-width: 1px !important; }
.border-t-2 { border-top-width: 2px !important; }
.border-t-3 { border-top-width: 3px !important; }

.border-r-0 { border-right-width: 0 !important; }
.border-r-1 { border-right-width: 1px !important; }
.border-r-2 { border-right-width: 2px !important; }
.border-r-3 { border-right-width: 3px !important; }

.border-b-0 { border-bottom-width: 0 !important; }
.border-b-1 { border-bottom-width: 1px !important; }
.border-b-2 { border-bottom-width: 2px !important; }
.border-b-3 { border-bottom-width: 3px !important; }

.border-l-0 { border-left-width: 0 !important; }
.border-l-1 { border-left-width: 1px !important; }
.border-l-2 { border-left-width: 2px !important; }
.border-l-3 { border-left-width: 3px !important; }

.border-l-gray-500 { border-left-color: var(--gray-500) !important; }

.bg-transparent {
  background: transparent !important;
}
